@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

ion-icon {
  font-size: 0.8em;
  vertical-align: -0.1em;
}

a {
  text-decoration: underline !important;
}

ul {
    list-style: square inside;
}

h2, h3 {
    margin-top: 0.5em;
}

.logo img {
    height: 50px;
    width: 50px;
    max-width: 50px;
    margin-right: 2px;
}

.yellow-background, .hero, .hero a {
    background-color: yellow;
    color: #404654;
}

.hero {
    text-align: center;
    font-size: 1.5em;
}

.blue-background, .blue-background a, .blue-background h2, .blue-background h3, .blue-background strong {
    background-color: #3e8ed0;
    color: white;
}

.pink-background, .pink-background a, .pink-background h2, .pink-background h3, .pink-background strong {
    background-color: #fa6489;
    color: white;
}

.green-background, .green-background a, .green-background h2, .green-background h3, .green-background strong {
    background-color: #48c78e;
    color: white;
}


.navbar, .navbar-menu {
    background-color: inherit;
    box-shadow: none;
    font-size: 1.1em;
}

a.navbar-item:hover {
    --bulma-navbar-item-background-a: 0;
}

body {
    font-size: 1em;
}

body a {
    color: #404654;
}

section {
    margin-top: -0.5em;
    overflow: hidden;
}

section p {
    margin-bottom: 1em;
}

img {
    margin-bottom: 0px;
}

.banner {
    height: auto;
    width: 100%;
}

figcaption {
    font-size: 0.8em;
    opacity: 50%;
}

figure img {
    height: auto;
    width: 400px;
    margin-right: 2em;
}

figure {
    float: left;
}
